@{
    ViewData["Title"] = "Misie";
}

<h2 class="text-center mt-4">Misie</h2>

<div class="row mt-4">

    <div class="col-6 col-md-3 text-center mb-4">
        <a href="/Shop/Product?name=osmiornica">
            <img src="/images/osmiornicablue.png" class="img-fluid rounded mb-2 category-img" />
            <p>Ośmiornica</p>
        </a>
    </div>

    <div class="col-6 col-md-3 text-center mb-4">
        <a href="/Shop/Product?name=kurczak">
            <img src="/images/kurczakpink.png" class="img-fluid rounded mb-2 category-img" />
            <p>Kurczak</p>
        </a>
    </div>

    <div class="col-6 col-md-3 text-center mb-4">
        <a href="/Shop/Product?name=slon">
            <img src="/images/plush_toy_elephant_blue.png" class="img-fluid rounded mb-2 category-img" />
            <p>Słoń</p>
        </a>
    </div>

    <div class="col-6 col-md-3 text-center mb-4">
        <a href="/Shop/Product?name=foka">
            <img src="/images/plush_toy_seal.jpg" class="img-fluid rounded mb-2 category-img" />
            <p>Foka</p>
        </a>
    </div>

    <div class="col-6 col-md-3 text-center mb-4">
        <a href="/Shop/Product?name=pluszak">
            <img src="/images/pluszak.jpg" class="img-fluid rounded mb-2 category-img" />
            <p>Miś (brązowy)</p>
        </a>
    </div>
    <div class="text-center mt-5">
        <a href="/Shop" class="btn btn-success">← Powrót do sklepu</a>
    </div>

</div>

<style>
    .category-img {
        transition: transform .2s ease;
    }

        .category-img:hover {
            transform: scale(1.15);
        }
</style>
