@model ToyStore.Model.DataModels.Category

@{
    ViewData["Title"] = "Usuń kategorię";
}

<h2>Usuń kategorię</h2>

<h4>Czy na pewno chcesz usunąć tę kategorię?</h4>
<div>
    <h5>@Model.Name</h5>
    <p>@Model.Description</p>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Usuń</button>
    <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
</form>
